name: Build and Push
on:
  push:
    tags: ['v*.*.*']  # Trigger na tagi semver
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        tags: m0dus/android-sdk-34:${{ github.ref_name }},m0dus/android-sdk-34:latest
